.fundoCadastro {
    background-image: url('https://raw.githubusercontent.com/LucasCapSilva/blog-pessoal-react-2023/login-template/src/assets/login.jpg');
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
